body{
  background-color:#051325;
  color:#FFF9F9;
  font-family: 'Caveat Brush', cursive;
  min-width:380px;
}
header{
  display:flex;
  flex-direction:row;
  min-height:80px;
  box-sizing:border-box;
  justify-content:space-between;  
}
header div{
  align-self:center;
  justify-content:space-between;
  flex-grow:1;
}
header h4{
  font-size:30px;
}
header h4:hover{
  opacity:0.80;
  cursor:pointer;
}
header a{
  text-decoration:none;
  color:white;
}
header h2{
  font-size:40px;
}
header h2:hover{
  opacity:0.80;
  cursor:pointer;
}
.title{
  font-family: 'Chewy', Sans-serif;
  flex-grow:7!important;
  font-size:0px;
  padding-left:10%;
}
main{
  min-height:80px;
  margin-left:70px;
  margin-right:70px;
  text-align:center;
  box-sizing:border-box;
}
main div{
  margin-top:10px;
 margin-left:auto;
  margin-right:auto;
 font-size:24px;
  
}
.ct{
  text-align:center;
}
ul{
  padding-top:20px;
  list-style-type:none;
  transition:0.5s;
  text-align:initial;
  margin-left:inherit;
  margin-right:inherit;
  max-width:250px;
  position:absolute;
  left:50%;
  padding-left:0px;
  margin-left:-10px;
}

li{
  display:block;
  padding-bottom:30px;
  font-family: 'Caveat', cursive;
  font-size:22px;
  padding-top:15px;
  /*border-bottom: 1px dashed rgb(204, 204, 204);*/
}
.dot{
  display:inline-block;
  background-color:#fff;
  border-style:solid;
  border-radius:50%;
  width:6px;
  height:6px;
  opacity:0.80;
}
.dot:hover{
  opacity:1;
}
li:before{
  content:" ";
  background-clor:white;
  border:2px solid white;
  z-index:-1;
  height:100px;
  position:relative;
  padding: 2px 0 39px 0;
  left:8px;
  opacity:0.4;
} 
li a{
  color:white;
}

.t-repo{
  padding-left:7px;

}

#t-recent{
  margin-top:50px;
  position:relative;
}
.r-container{
  min-width:200px!important;
}
.date{
  position:absolute;
  opacity:0.90;
  width:100%;
}
.date span{
  position:relative;
  font-family: 'Gaegu', cursive;
  font-size:12px;
  top:18px;
  left:0px;
}
.cmt_msg{
   box-sizing: border-box;
  position:absolute;
  line-height:0.79;
  height: 48px;
  width:200px;
  text-align:right;
}
.cmt_msg span{
  position:relative;
  font-size:15px;
  padding-right:4px;
  height:100%;
  display:block;
  overflow-y:hidden;
  overflow-x:hidden;
  left:-225px;
  top:-5px;
  opacity:0.70
}
.year{
  position:absolute;
}
.year span{
  position:relative;
  top:-20px;
  left:-10px;
}
.ct div a{
  text-decoration:none;
  color:unset;
}
.ct div a:hover{
  opacity:0.80
}
@media (max-width: 600px){
  header h4{
    font-size:20px;
  }
  header h2{
    font-size:30px;
  }
  .ct  {
    font-size:20px;
  }
  .ct  div{
    font-size:20px;
  }
  #t-recent{
    font-size:20px;
  }
}

@media (max-width: 420px){
  ul{
    transform:scale(0.9);
    position:relative;
   top:-30px;
  }
}